<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Giacomo Marolla" />
        <meta name="description" content="Trova il distributore di sigarette più vicino a te!" />
        <title>{% block title %}il Tabaccaio{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    </head>
    <body>

        {% block header %}
        <header>
            <h1>il Tabaccaio</h1>
        </header>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
        <footer>
            Il footer fa bene alla salute
        </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
