{% extends 'base.html.twig' %}

{% block body %}

<div class="bodyWrapper">
    <h2>Cerca un distributore</h2>
        <form class="search" action="index.html" method="post">
            <br />
                <!-- <input class="searchForm" type="text" name="city" value="" placeholder="Città"> -->
            <label for="sigarette">Sigarette</label>
                <input type="checkbox" name="sigarette" value="" checked>
            <label for="tabacco">Tabacco</label>
                <input type="checkbox" name="tabacco" value="" checked>
            <label for="comdom">Condom</label>
            <input type="checkbox" name="comdom" value="">
                <input class="searchForm" type="number" name="resto" min="2" max="15" placeholder="Resto massimo">
                <input type="submit" name="invia" value="FILTRA">
        </form>
        <div id="map"></div>
</div>

<!-- immagine mappa -->
<!-- <img id="mapSample" src="{{ asset('img/map_sample.png') }}" alt="mappa" /> -->

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var tabaccherie = {{ tabaccherie|json_encode|raw }};
</script>
<script src="{{ asset('/js/script.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?apiKey=AIzaSyAa9QggxFYscZS4pJl11daPuXg9OxoCTrg&callback=initMap" async defer></script>
{% endblock %}
