body{
    padding: 0;
    margin: auto;
    text-align: center;
    background-image: url("/img/sfondo1.jpg");
    /*background-color: grey;*/
}

footer{
    color: #2A2829;
    background-color: #493737;
    text-shadow: -1px 0 #E9E2DC, 0 1px #E9E2DC, 1px 0 #E9E2DC, 0 -1px #E9E2DC;
    height: 8%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    text-align: center;
    position: relative;
    font-family: rechtman;
    font-size: 40px;
    padding: 5px;
    opacity: 0.9;
    box-shadow: 5px 5px 50px #2A2829;
}

footer a{
	color:#2A2829;
	text-decoration:none;
    opacity: 0.7;
}

footer a:hover{
	color:#2A2829;
    text-decoration: none;
    opacity: 1.3;
}

header{
    background-color: #7B3B3B;
    /*height: 25%;*/
    width: 100%;
    margin: auto;
    top: 0px;
    text-align: center;
    padding-top: 15px;
    position: fixed;
    z-index: 9;
    opacity: 0.7;
    box-shadow: 5px 5px 50px #2A2829;
    /*border-bottom-color: #C60000;
    border-bottom-style: solid;
    border-bottom-width: 5px;*/
    /*border-top-left-radius: 40px;
    border-top-right-radius: 40px;*/
}

header a{
    color:#000;
    text-decoration:none;
}

header a:hover{
	color: #4B494A;
    text-decoration:none;
}

h1{
    font-family: rechtman;
    font-size: 130px;
    color: #2A2829;
    text-shadow: -1px 0 #E9E2DC, 0 1px #E9E2DC, 1px 0 #E9E2DC, 0 -1px #E9E2DC;
    z-index: 10;
}

h2{
    font-family: marlboro;
    font-size: 40px;
    font-style: italic;
    color: #E9E2DC;
    text-align: center;
    text-shadow: -3px 0 #493737, 0 3px #493737, 3px 0 #493737, 0 -3px #493737;
}

h4{
    font-size: 18px;
    text-align: center;
}

#map {
  width: 600px;
  height: 300px;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  border-color: #493737;
  margin-top: 5px;
}

/*#mapSample{
    width: 70%;
    height: 70%;
    margin-top: 10px;
}*/

.bodyWrapper{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 20px;
}

.search input{
    border-style: solid;
    border-width: 5px;
    border-color: #493737;
    font-family: marlboro;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    color: #493737;
    background-color: #E9E2DC;
}

.searchForm{
    width: 25%;
    text-align: center;
}

.search label{
    font-family: marlboro;
    font-size: 30px;
    margin-top: 10px;
    color: #E9E2DC;
    text-shadow: -3px 0 #493737, 0 3px #493737, 3px 0 #493737, 0 -3px #493737;

}

/*IMPORT SELECTORS*/

@font-face {
    font-family: marlboro;
    src: url(../font/Marlboro.ttf);
}

@font-face {
    font-family: rechtman;
    src: url(../font/RECHTMAN.ttf);
}
