body{
    padding: 0;
    margin: auto;
    text-align: center;
    /*background-color: grey;*/
}

footer{
    color: #000;
    background-color: #fff;
    height: 8%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    text-align: center;
    position: relative;
    border-width: 15px;
    border-color: #000;
    border-style: solid;
    font-family: helvetica;
    font-weight: bold;
    font-size: 50px;
    padding: 5px;
}

footer a{
	color:#000;
	text-decoration:none;
}

footer a:hover{
	color:#CCCCCC; /*azzurro*/
}

header{
    background-color: #fff;
    /*height: 25%;*/
    width: 100%;
    margin: auto;
    top: 0px;
    text-align: center;
    position: fixed;
    border-top-color: #C60000;
    border-top-style: solid;
    border-top-width: 70px;
    z-index: 10;
    text-decoration: underline;
    /*border-bottom-color: #C60000;
    border-bottom-style: solid;
    border-bottom-width: 5px;*/
    /*border-top-left-radius: 40px;
    border-top-right-radius: 40px;*/
}

header a{
    color:#000;
    text-decoration:none;
}

header a:hover{
	color: #4B494A;
    text-decoration:none;
}

h1{
    font-family: marlboro;
    font-size: 90px;
    color: #000;
}

h2{
    font-family: marlboro;
    font-size: 40px;
    color: #000;
    text-align: center;
}

h4{
    font-size: 18px;
    text-align: center;
}

#map {
  width: 600px;
  height: 300px;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  border-color: #000;
  margin-top: 5px;
}

/*#mapSample{
    width: 70%;
    height: 70%;
    margin-top: 10px;
}*/

.bodyWrapper{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 20px;
}

.search input{
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    font-family: marlboro;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    color: #222222;
}

.searchForm{
    width: 25%;
    text-align: center;
}

.search label{
    font-family: marlboro;
    font-size: 30px;
    margin-top: 10px;
}

/*IMPORT SELECTORS*/

@font-face {
    font-family: marlboro;
    src: url(../font/Marlboro.ttf);
}
