body{
    padding: 0;
    margin: auto;
    text-align: center;
    background-color: #fff;
    /*background-color: grey;*/
}

footer{
    background-image: url("/img/sfondo2.jpg");
    /*text-shadow: -1px 0 #E9E2DC, 0 1px #E9E2DC, 1px 0 #E9E2DC, 0 -1px #E9E2DC;*/
    /*height: 300px;*/
    /*margin-top: 20px;*/
    /*margin-left: auto;
    margin-right: auto;*/
    padding-top: 30vh;
    padding-bottom: 60vh;
    bottom: 0px;
    text-align: center;
    /*position: relative;*/
    font-family: roboto_medium;
    font-size: 30px;
    opacity: 0.7;
    height: 20vw;
    /*box-shadow: 5px 5px 50px #2A2829;*/
}

footer a{
	color:black;
	text-decoration:none;
    opacity: 0.9;
}

footer a:hover{
	color:#2A2829;
    text-decoration: none;
    opacity: 1.3;
}

header{
    background-image: url("/img/sfondo1.jpg");
    /*height: 25%;*/
    width: 100%;
    /*height: 400px;*/
    margin: auto;
    top: 0px;
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 10vw;
    /*position: fixed;*/
    z-index: 9;
    opacity: 0.7;
    height: 30vw;
    /*box-shadow: 5px 5px 50px #2A2829;*/
    /*border-bottom-color: #C60000;
    border-bottom-style: solid;
    border-bottom-width: 5px;*/
    /*border-top-left-radius: 40px;
    border-top-right-radius: 40px;*/
}

header a{
    color:#000;
    text-decoration:none;
}

header a:hover{
	color: #4B494A;
    text-decoration:none;
}

h1{
    font-family: holden;
    font-size:4vw;
    color: #000;
    text-shadow: -1px 0 #E9E2DC, 0 1px #E9E2DC, 1px 0 #E9E2DC, 0 -1px #E9E2DC;
    z-index: 10;
    opacity: 1.0;
}

h2{
    font-family: roboto_medium;
    font-size: 40px;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 20px;
    /*text-shadow: -3px 0 #493737, 0 3px #493737, 3px 0 #493737, 0 -3px #493737;*/
}

h4{
    font-size: 18px;
    text-align: center;
}

#logo{
    background-color: white;
    border-radius: 10px;
    width: 35vw;
    opacity: 1.0;
    margin-left: 100px;
    padding: 20px;
    top: 10vw;
}

#map {
  width: 100%;
  height: 400px;
  margin: auto;
  /*border-style: solid;
  border-width: 5px;
  border-color: #493737;*/
}
/*#mapSample{
    width: 70%;
    height: 70%;
    margin-top: 10px;
}*/

.buttonFooter{
    background-color: white;
    border-radius: 10px;
    opacity: 1.0;
    padding: 15px;
    display: inline-block;
    margin: 0 50px;
}
}

.bodyWrapper{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    /*margin: auto;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 50px;
    padding: 20px;*/
}

.formText{
    /*height: 100px;
    width: 400px;*/
    border-radius: 10px;
    margin:20px;
    font-family: roboto_medium;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    width: 40vw;
}

.indexInput{
    /*border-style: solid;
    border-width: 5px;
    border-color: #493737;*/
    font-family: roboto_medium;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    border-radius: 10px;
    padding: 12px;
    background-color: #4D4D4D;
    border: none;
    outline:none;
}

.indexLabel{
    font-family: roboto_medium;
    font-size: 30px;
    margin-top: 20px;
    color: #4D4D4D;
    /*text-shadow: -3px 0 #493737, 0 3px #493737, 3px 0 #493737, 0 -3px #493737;*/

}

.immSocial{
    width: 40px;
    height: 40px;
    opacity: 1;
}

.loghiSocial{
    display: inline-block;
    /*margin-top: 80px;*/
    /*margin-left: 70px;
    margin-right: 70px;*/
}

.footerButtonContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerDiv{
    padding: 10% 30%;
}

.searchForm{
    width: 15%;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    font-family: roboto_medium;
    font-size: 15px;
    margin: 20px;
}

.segnalazioni{
    padding: 100px;
}

.socialContainer{
    margin-bottom: 90px;
    margin-top: 20px;
}


/*IMPORT SELECTORS*/

@font-face {
    font-family: marlboro;
    src: url(../font/Marlboro.ttf);
}

@font-face {
    font-family: rechtman;
    src: url(../font/RECHTMAN.ttf);
}

@font-face {
    font-family: holden;
    src: url(../font/Holden.ttf);
}
@font-face {
    font-family: lato_bold;
    src: url(../font/Lato_Bold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto_medium;
    src: url(../font/Roboto-Medium.ttf);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    h2{
        font-size: 20px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
