{% extends 'base.html.twig' %}

{% block body %}

<div class="footerDiv">
    <h2>PRIVACY POLICY</h2>
    <p>IL “TITOLARE” DEL TRATTAMENTO</p>
    <p>A seguito della consultazione di questo sito possono essere trattati dati relativi a persone identificate o identificabili.Il “titolare” del loro trattamento è l’ISTITUTO ITALIANO PER LA PRIVACY - via Boezio, 6 – 00195 - Roma – codice fiscale 97506750583.</p>
    <p>LUOGO DI TRATTAMENTO DEI DATI</p>
    <p>
    I trattamenti connessi ai servizi web di questo sito hanno luogo presso la predetta sede e sono curati solo da personale incaricato del trattamento, oppure da eventuali incaricati di occasionali operazioni di manutenzione.
    Nessun dato derivante dal servizio web viene comunicato o diffuso.
    </p>
    <p>
    I dati personali forniti dagli utenti che si registrano o inoltrano richieste di invio di materiale informativo (bollettini, newsletter, risposte a quesiti, ecc.) sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e sono comunicati a terzi nel solo caso in cui ciò sia a tal fine necessario.
    I dati personali forniti dagli utenti che si registrano, in particolare nome e cognome con regione di provenienza nonché le loro email sono automaticamente inseriti in mailing list.
    </p>
    <p>TIPI DI DATI TRATTATI</p>
    <p>Dati di navigazione I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet.</p>
</div>

{% endblock %}
